<h1>Lake Records</h1>

<div class="addNewRun">

  <h3>Add new lake</h3>

  <div class="messages">
    {{#each messages.error}}
      <p class="error_msg">{{this}}</p>
    {{/each}}
  </div>

  <form action="/" method="POST">
    Name: <input name="name" type="text" required>

    <br>

	Description: <input name="description" type="text">
    <br>
    Time run: <input name="timeRun" type="number" required>
    <br>

    Date run: <input name="dateRun" type="datetime-local" required>
    <br>
    <input name="addLake" type="submit" value="Add new run">
    <br>
  </form>

</div>

<div class="lakesRun">

  <h3>All Runs</h3>

  {{# each lakes}}
  <form action="/deleteLake" method="POST">
      <input name="delete" type="submit" value="{{this._id}}">Delete</input>

    </form>

  <br>
    <p>Name: {{this.name}}</p>
    <p>Description: {{this.description}}</p>

    <p>Dates run:</p>




	<ul>

	{{#each this.timesRun}} {{/each}}
  <p>this</p>   <!-- you probably want something else here -->
 {{#each this.datesRun}}

	  <li>
        {{dateFormatter this}}
      </li>
      <li>{{this}}</li>
    {{else}}
      <li>No runs reported</li>
    {{/each}}
    </ul>

    <P>Add new date run</P>

    <form action="/addRun" method="POST">
      <input name="dateRun" type="datetime-local" required>
      <input name="_id" type="hidden" value="{{this._id}}">
      <input name="name" type="hidden" value="{{this.name}}">
      <input name="add" type="submit" value="Add new date">
    </form>

    <hr>

  {{else}}
    <p>No run records in the database</p>
  {{/each}}
</div>
